<a href="https://raw.githubusercontent.com/Bertonc98/ProgettoAMD/main/PreliminaryAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install -q kaggle
from google.colab import files
print("Upload kaggle.json to use kaggle APIs")
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets download "ashirwadsangwan/imdb-dataset" -f "title.principals.tsv.gz"
!unzip "title.principals.tsv.gz.zip"
!rm "title.principals.tsv.gz.zip"
!gunzip -k "title.principals.tsv.gz"
!rm "title.principals.tsv.gz"

Upload kaggle.json to use kaggle APIs

Saving kaggle.json to kaggle.json
kaggle.json
Downloading title.principals.tsv.gz.zip to /content
100% 286M/287M [00:02<00:00, 150MB/s]
100% 287M/287M [00:02<00:00, 135MB/s]
Archive:  title.principals.tsv.gz.zip
  inflating: title.principals.tsv.gz

In [10]:
!kaggle datasets download "ashirwadsangwan/imdb-dataset" -f "name.basics.tsv.gz"
!unzip "name.basics.tsv.gz.zip"
!rm "name.basics.tsv.gz.zip"
!gunzip -k "name.basics.tsv.gz"
!rm "name.basics.tsv.gz"

Downloading name.basics.tsv.gz.zip to /content
 91% 165M/180M [00:01<00:00, 105MB/s]
100% 180M/180M [00:01<00:00, 117MB/s]
Archive:  name.basics.tsv.gz.zip
  inflating: name.basics.tsv.gz

In [2]:
import csv
import json
import sys
import pandas as pd
import os
import math
import numpy as np
import itertools as it

In [3]:
df = pd.read_csv("title.principals.tsv", delimiter='\t', encoding='utf-8')

In [4]:
df.head()

      tconst  ordering  ...                      job   characters
0  tt0000001         1  ...                       \N  ["Herself"]
1  tt0000001         2  ...                       \N           \N
2  tt0000001         3  ...  director of photography           \N
3  tt0000002         1  ...                       \N           \N
4  tt0000002         2  ...                       \N           \N

[5 rows x 6 columns]

In [9]:
!find "title.principals.tsv" -printf "%s"

1622240736

In [7]:
print(len(df[(df["category"]=="actor") | (df["category"]=="actress")]))

14830233

In [ ]:
# number of rows
print(len(df))

36499704

In [ ]:
print('number of different movies')
len(set(list(df['tconst'])))

number of different movies

5710740

In [ ]:
r = df[(df['category']== 'actor') | (df['category']== 'actress')]
print(f"number of movies with an actor/actress: {len(set(list(r['tconst'])))}")
print('not all the movies have at least an actor registered in the dataset\n')

print(f"number of different actors/actress: {len(set(list(r['nconst'])))}")

number of movies with an actor/actress: 3602200
not all the movies have at least an actor registered in the dataset

number of different actors/actress: 1868056

In [11]:
df = pd.read_csv("name.basics.tsv", delimiter='\t', encoding='utf-8')

In [12]:
df.head()

      nconst  ...                           knownForTitles
0  nm0000001  ...  tt0050419,tt0053137,tt0043044,tt0072308
1  nm0000002  ...  tt0117057,tt0037382,tt0071877,tt0038355
2  nm0000003  ...  tt0049189,tt0059956,tt0054452,tt0057345
3  nm0000004  ...  tt0078723,tt0080455,tt0072562,tt0077975
4  nm0000005  ...  tt0050986,tt0083922,tt0069467,tt0050976

[5 rows x 6 columns]

In [13]:
print('number of different person')
len(set(list(df['nconst'])))

number of different person

9711022

In [22]:
count = 0
for row in df["primaryProfession"].dropna():
  if "actor" in row.split(",") or "actress" in row.split(","):
    count += 1
count

3625895