In [1]:
!pip3 install -q kaggle
from google.colab import files
print("Upload kaggle.json to use kaggle APIs")
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets download "ashirwadsangwan/imdb-dataset" -f "title.principals.tsv.gz"
!unzip "title.principals.tsv.gz.zip"
!rm "title.principals.tsv.gz.zip"
!gunzip -k "title.principals.tsv.gz"
!rm "title.principals.tsv.gz"

Upload kaggle.json to use kaggle APIs

Saving kaggle.json to kaggle.json
kaggle.json
Downloading title.principals.tsv.gz.zip to /content
 99% 284M/287M [00:02<00:00, 137MB/s]
100% 287M/287M [00:02<00:00, 138MB/s]
Archive:  title.principals.tsv.gz.zip
  inflating: title.principals.tsv.gz

In [2]:
import csv
import json
import sys
import pandas as pd
import os
import math
import numpy as np
import itertools as it

In [3]:
df = pd.read_csv("title.principals.tsv", delimiter='\t', encoding='utf-8')

In [10]:
df.head()

      tconst  ordering  ...                      job   characters
0  tt0000001         1  ...                       \N  ["Herself"]
1  tt0000001         2  ...                       \N           \N
2  tt0000001         3  ...  director of photography           \N
3  tt0000002         1  ...                       \N           \N
4  tt0000002         2  ...                       \N           \N

[5 rows x 6 columns]

In [17]:
# number of rows
print(len(df))

36499704

In [33]:
print('number of different movies')
len(set(list(df['tconst'])))

number of different movies

5710740

In [36]:
r = df[(df['category']== 'actor') | (df['category']== 'actress')]
print(f"number of movies with an actor/actress: {len(set(list(r['tconst'])))}")
print('not all the movies have at least an actor registered in the dataset\n')

print(f"number of different actors/actress: {len(set(list(r['nconst'])))}")

number of movies with an actor/actress: 3602200
not all the movies have at least an actor registered in the dataset

number of different actors/actress: 1868056